@import "tailwindcss";

@theme{
    --font-script: Cal Sans;
    --font-bruno: Bruno Ace;
    --font-poppins: Poppins;
    --color-theme: #DE8417;
    --color-body: #D2D2DA;
    --color-background: #1D1D1D;
    --color-navbar: #121212;
}
